@font-face {
	font-family: 'Virgil';
	src: url(https://excalidraw.com/FG_Virgil.woff2);
}
body {
	margin: 0;
	font-family: 'Virgil';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
